body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 5vh 90vh 5vh;
}
header {
    font-size: 12px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

header a {
    color: grey;
    text-decoration: none;
}

header a:hover {
    color: #404040;
    text-decoration: underline;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

footer a {
    color: grey;
    text-decoration: none;
}

footer a:hover {
    color: #404040;
    text-decoration: underline;
}

button {
    width: 100px;
}

.right {
    justify-self: right;
}

.center {
    justify-self: center;
}

.left {
    justify-self: left;
}

#main {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
}

#search_buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 30px;
    justify-items: center;
}